flutter/ephemeral/
dist/
devtools_options.yaml
# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Flutter/Dart/Pub related
.dart_tool/
.packages
build/
.pub-cache/
.idea/
.vscode/
android/app/debug
android/app/profile
android/app/release

# Distribution output
dist/
*.deb
*.exe
*.zip
*.tar.gz

# OS specific
.DS_Store
Thumbs.db